---
layout: default
---

<!-- Google tag (gtag.js) -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-MGR2S8P4HV"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-MGR2S8P4HV");
</script>
<article class="post">
  <div style="text-align: center">
    <nav class="pagination">
      {% if page.previous %}
      <a class="prev" href="{{ site.baseurl }}{{ page.previous.url }}"
        >&larr; Prev</a
      >
      {% else %} &larr; Prev {% endif %}

      <span class="divider">|</span>

      {% assign novel_folder = page.path | remove_first: "_chapters/" | split:
      "/" | first %} {% assign toc_path = "/novels/" | append: novel_folder |
      append: "/toc/" %}
      <a class="toc" href="{{ site.baseurl }}{{ toc_path }}">TOC</a>

      <span class="divider">|</span>

      {% if page.next %} {% if page.next.path contains "toc" %}
      <a class="next" href="https://www.youtube.com/watch?v=MTW4sIL9Dpw"
        >Next &rarr;</a
      >
      {% else %}
      <a class="next" href="{{ site.baseurl }}{{ page.next.url }}"
        >Next &rarr;</a
      >{% endif %} {% endif %}
    </nav>
  </div>

  <div class="post-content">{{ content }}</div>

  <div style="text-align: center">
    <nav class="pagination">
      {% if page.previous %}
      <a class="prev" href="{{ site.baseurl }}{{ page.previous.url }}"
        >&larr; Prev</a
      >
      {% else %} &larr; Prev {% endif %}

      <span class="divider">|</span>

      {% assign novel_folder = page.path | remove_first: "_chapters/" | split:
      "/" | first %} {% assign toc_path = "/novels/" | append: novel_folder |
      append: "/toc/" %}
      <a class="toc" href="{{ site.baseurl }}{{ toc_path }}">TOC</a>

      <span class="divider">|</span>

      {% if page.next %} {% if page.next.path contains "toc" %}
      <a class="next" href="https://www.youtube.com/watch?v=MTW4sIL9Dpw"
        >Next &rarr;</a
      >
      {% else %}
      <a class="next" href="{{ site.baseurl }}{{ page.next.url }}"
        >Next &rarr;</a
      >{% endif %} {% endif %}
    </nav>
  </div>

  <div id="disqus_thread"></div>
<script
  src="https://ooc-tl.disqus.com/embed.js"
  async
></script>
  <noscript
    >Please enable JavaScript to view the
    <a href="https://disqus.com/?ref_noscript"
      >comments powered by Disqus.</a
    ></noscript
  >
</article>
