---
layout: default
---

<!-- Google tag (gtag.js) -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-MGR2S8P4HV"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-MGR2S8P4HV");
</script>
<article class="post">
  <div style="text-align: center">
    <nav class="pagination">
      {% if page.previous %}
      <a class="prev" href="{{ site.baseurl }}{{ page.previous.url }}"
        >&larr; Prev</a
      >
      {% else %} &larr; Prev {% endif %}

      <span class="divider">|</span>

      {% assign novel_folder = page.path | remove_first: "_chapters/" | split:
      "/" | first %} {% assign toc_path = "/novels/" | append: novel_folder |
      append: "/toc/" %}
      <a class="toc" href="{{ site.baseurl }}{{ toc_path }}">TOC</a>

      <span class="divider">|</span>

      {% if page.next %} {% if page.next.path contains "toc" %}
      <a class="next" href="https://www.youtube.com/watch?v=MTW4sIL9Dpw"
        >Next &rarr;</a
      >
      {% else %}
      <a class="next" href="{{ site.baseurl }}{{ page.next.url }}"
        >Next &rarr;</a
      >{% endif %} {% endif %}
    </nav>
  </div>

  <div class="post-content">{{ content }}</div>

  <div style="text-align: center">
    <nav class="pagination">
      {% if page.previous %}
      <a class="prev" href="{{ site.baseurl }}{{ page.previous.url }}"
        >&larr; Prev</a
      >
      {% else %} &larr; Prev {% endif %}

      <span class="divider">|</span>

      {% assign novel_folder = page.path | remove_first: "_chapters/" | split:
      "/" | first %} {% assign toc_path = "/novels/" | append: novel_folder |
      append: "/toc/" %}
      <a class="toc" href="{{ site.baseurl }}{{ toc_path }}">TOC</a>

      <span class="divider">|</span>

      {% if page.next %} {% if page.next.path contains "toc" %}
      <a class="next" href="https://www.youtube.com/watch?v=MTW4sIL9Dpw"
        >Next &rarr;</a
      >
      {% else %}
      <a class="next" href="{{ site.baseurl }}{{ page.next.url }}"
        >Next &rarr;</a
      >{% endif %} {% endif %}
    </nav>
  </div>

  <!-- <script src="https://unpkg.com/@lyket/widget@latest/dist/lyket.js?apiKey=pt_9f8ebcf24c58b72e2a2b5474c2796b"></script>
  <div style="font-size: 24px" data-lyket-type="clap" data-lyket-id="{{page.url}}" data-lyket-template="heart"></div>
   -->

  <script
    async
    src="https://talk.hyvor.com/embed/embed.js"
    type="module"
  ></script>
  <hyvor-talk-comments website-id="14202" page-id=""></hyvor-talk-comments>

  <div id="disqus_thread"></div>
  <script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    /*
      var disqus_config = function () {
      this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };
      */
    (function () {
      // DON'T EDIT BELOW THIS LINE
      var d = document,
        s = d.createElement("script");
      s.src = "https://ooc-tl.disqus.com/embed.js";
      s.setAttribute("data-timestamp", +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript
    >Please enable JavaScript to view the
    <a href="https://disqus.com/?ref_noscript"
      >comments powered by Disqus.</a
    ></noscript
  >
</article>
